[submodule "machina"]
	path = machina
	url = https://github.com/tinnate/machina
[submodule "OverlayPlugin.Core/resources/act-overlays"]
	path = OverlayPlugin.Core/resources/act-overlays
	url = https://github.com/tinnate/act-overlays
